<Submission>
    <Description>
        <Comment>{% block sra_project_comment %}BP(1.0)+BS(1.0)+SRA{% endblock %}</Comment>
        <Organization role="owner" type="institute">
            <Name abbr="BioCI">BioCI</Name>
            <Address postal_code="{{ organization_address_postal_code }}">
                <Department>{{ organization_address_department }}</Department>
                <Institution>{{ organization_address_institution }}</Institution>
                <Street>{{ organization_address_street }}</Street>
                <City>{{ organization_address_city }}</City>
                <Country>{{ organization_address_country }}</Country>
            </Address>
            <Contact email="{{ contact_email }}">
                <Name>
                    <First>{{ contact_first_name }}</First>
                    <Last>{{ contact_last_name }}</Last>
                </Name>
            </Contact>
        </Organization>
        <Hold release_date="{{ sra_hold_release_date }}"/>
    </Description>

{% block create_project_block %}{% endblock %}

 <!--Note: Begin BioSamples section.-->
{%- for biosample in bio_samples %}
   <Action>
        <AddData target_db="BioSample">
            <Data content_type="XML">
                <XmlContent>
                    <BioSample schema_version="2.0">
                        <SampleId>
                            <SPUID spuid_namespace="BioCI">{{ biosample.sra_sample_id }}</SPUID>
                        </SampleId>
                        <Descriptor>
                            {%- if biosample.sample_title %}
                            <Title>{{ biosample.sample_title }}</Title>
                            {%- endif %}
                        </Descriptor>
                        <Organism>
                            <OrganismName>{{ biosample.organism }}</OrganismName>
                        </Organism>
                        {%- if sra_project_id %}
                        <BioProject>
                            <PrimaryId db="BioProject">{{ sra_project_id }}</PrimaryId>
                        </BioProject>
                        {%- endif %}
                        <Package>{{ biosample.sra_bio_sample_package }}</Package>
                        <Attributes>
                            {%- for attribute in biosample.attributes %}
                            <Attribute attribute_name="{{ attribute.name }}">{{ attribute.value }}</Attribute>
                            {%- endfor %}
                        </Attributes>
                    </BioSample>
                </XmlContent>
            </Data>
            <Identifier>
                <SPUID spuid_namespace="BioCI">{{ biosample.sra_sample_id }}</SPUID>
            </Identifier>
        </AddData>
    </Action>
{%- endfor %}
<!--Note: End of BioSamples section.-->

<!--Note: Begin File Submission section.-->
{%- for library in libraries %}
    <Action>
        <AddFiles target_db="SRA">
            {%- for file in library.files %}
            <File file_path="{{ file.filename }}" md5="{{ file.md5 }}">
                <DataType>generic-data</DataType>
            </File>
            {%- endfor %}
            {%- for attribute in library.attributes %}
            <Attribute name="{{ attribute.name }}">{{ attribute.value }}</Attribute>
            {%- endfor %}
            <AttributeRefId name="BioProject">
                <RefId>
                {%- if sra_project_id %}
                    <PrimaryId>{{ sra_project_id }}</PrimaryId>
                {%- else %}
                    <SPUID spuid_namespace="BioCI">{{ sra_object_id }}</SPUID>
                {%- endif %}
                </RefId>
            </AttributeRefId>
            <AttributeRefId name="BioSample">
                <RefId>
                <SPUID spuid_namespace="BioCI">{{ library.sra_sample_id }}</SPUID>
                </RefId>
            </AttributeRefId>
            <Identifier>
                <SPUID spuid_namespace="BioCI">{{ library.library_id }}</SPUID>
                <!--Example: <SPUID spuid_namespace="BioCI">Files.123</SPUID>-->
            </Identifier>
        </AddFiles>
    </Action>
{%- endfor %}
<!--Note: End of File Submission section.-->
</Submission>
