{% extends "submission.xml.j2" %}
{% block sra_project_comment %}New Submission. Sample + Experiment + Runs{% endblock %}
{% block create_project_block %}
<!--Note: Begin BioProject section.-->
    <Action>
        <AddData target_db="BioProject">
            <Data content_type="XML">
                <XmlContent>
                    <Project schema_version="2.0">
                        <ProjectID>
                            <SPUID spuid_namespace="BioCI">{{ sra_object_id }}</SPUID>
                        </ProjectID>
                        <Descriptor>
                            <Title>{{ sra_project_title }}</Title>
                            <Description>
                                <p>{{ sra_project_description }}</p>
                            </Description>
                            {%- if sra_external_link_url %}
                            <ExternalLink
                                label="{{ sra_external_link_label }}">
                                <URL>{{ sra_external_link_url }}</URL>
                            </ExternalLink>
                            {%- endif %}
                            <Relevance>
                                <Medical>{{ sra_medical_relevance }}</Medical>
                                <!-- Choices are 'Yes' or 'No' -->
                            </Relevance>
                        </Descriptor>
                        <ProjectType>
                            <ProjectTypeSubmission sample_scope="{{ sra_project_type_submission_scope }}">
                            <!-- Choices are:
                                {'eMonoisolate', 'eMultiisolate', 'eMultispecies', 'eEnvironment', 'eSynthetic', 'eSingleCell', 'eOther'}
                                From http://www.ncbi.nlm.nih.gov/viewvc/v1/trunk/submit/public-docs/bioproject/bioproject.xsd?revision=66995&view=co -->
                                {%- if organism_name %}
                                <Organism>
                                    <OrganismName>{{ organism_name }}</OrganismName>
                                </Organism>
                                {%- endif %}
                                <IntendedDataTypeSet>
                                    <DataType>{{ sra_project_intended_data_type }}</DataType>
                                    <!-- Choices are:
                                         {'genome sequencing', 'raw sequence reads', 'genome sequencing and assembly', 'metagenome', 'metagenomic assembly', 'assembly', 'transcriptome', 'proteomic', 'map', 'clone ends', 'targeted loci', 'targeted loci cultured', 'targeted loci environmental', 'random survey', 'exome', 'variation', 'epigenomics', 'phenotype or genotype', 'other'}
                                         From http://www.ncbi.nlm.nih.gov/viewvc/v1/trunk/submit/public-docs/bioproject/bioproject.xsd?revision=66995&view=co -->
                                </IntendedDataTypeSet>
                            </ProjectTypeSubmission>
                        </ProjectType>
                    </Project>
                </XmlContent>
            </Data>
            <Identifier>
                <SPUID spuid_namespace="BioCI">{{ sra_object_id }}</SPUID>
            </Identifier>
        </AddData>
    </Action>
<!--Note: End BioProject section.-->
{% endblock %}
